@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600;900&family=Sometype+Mono:wght@400&display=swap");

:root {
  --color-text: #000;
  --color-y-prisma: #0675F9;
  --color-cvx-prisma: #f99806;
  --color-background: #fff;
  --animation-speed: 4s;

  --switch-light: #d8dbe0;
  --switch-dark: #28292c;
}

* {
  box-sizing: border-box;
}

@keyframes rainbowShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}

.neon-text span span {
  display: inline-block;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-background);
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: "Red Hat Display", sans-serif;
  /* font-family: 'Sometype Mono', monospace; */

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

.title-container {
  padding: 20px;
  text-align: center;
}

.neon-text {
  font-size: 4em;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 900;
}

@media only screen and (max-width: 650px) {
  .neon-text {
    font-size: 3em;
  }
}

@media only screen and (max-width: 380px) {
  .neon-text {
    font-size: 2.5em;
  }
}

.section-title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.chart-container {
  width: 90%;
  border-radius: 5px;
  margin-bottom: 40px;
}

@media only screen and (max-width: 600px) {
  .chart-container {
    width: 99%;
  }
}

.chart-title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
}

@media only screen and (max-width: 500px) {
  .chart-title {
    font-size: 1.4em;
  }
}

.chart-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.recharts-cartesian-axis-tick-value {
  fill: var(--color-text);
}

.table-container {
  border-radius: 5px;
  width: 90%;
  margin-bottom: 10px;
  /* min-width: 400px; */
}

table {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  border-collapse: collapse;
}

@media only screen and (max-width: 750px) {
  table {
    font-size: 1em;
  }
}

@media only screen and (max-width: 400px) {
  .table-container {
    width: 100%;
  }
  table {
    font-size: 0.8em;
  }
}

table,
th,
td {
  border: none;
}

thead tr th {
  text-align: center;
  font-size: 2em;
  padding: 10px 10px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  thead tr th {
    font-size: 1.5em;
  }
}

tbody tr td:last-child {
}

tbody tr td {
  padding: 14px 0;
  text-align: left;
}

tbody tr td:first-child {
  text-align: right;
  padding-right: 20px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  tbody tr td:first-child {
    padding-right: 0px;
    font-size: 0.8em;
  }
}

tbody tr:first-child td:not(:first-child) {
  border-top: solid 1px var(--color-text);
}
tbody tr td:not(:first-child) {
  text-align: center;
  border-bottom: solid 1px var(--color-text);
}

.link-container {
  color: var(--color-text);
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.custom-tooltip {
  background-color: var(--color-background);
  border: solid 1px var(--color-text);
  padding: 0 15px;
}

.font-weight-bold {
  font-weight: 900;
}

.font-weight-normal {
  font-weight: 100;
}

.countdown-container {
  /* font-size: 1.2em; */
  width: auto;
  display: inline-block;
  margin: 0;
  margin-left: 5px;
}

.countdown-container-text {
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .link-container img {
    width: 50px;
  }
}

.undertable {
  display: flex;
  font-family: 'Sometype Mono', monospace;
  width: 90%;
  margin-bottom: 40px;
  font-size: 1em;
  flex-direction: column;
  align-items: flex-end;
  color: var(--color-text);
  font-weight: 100;
  opacity: 0.35;
}

@media only screen and (max-width: 400px) {
  .undertable {
    font-size: 0.7em;
  }
}

.dark {
  --color-text: #fff;
  --color-background: #121212;
}

.toggle-switch {
  position: absolute;
  width: 50px;
  right: 20px;
  top: 20px;
}

@media only screen and (max-width: 500px) {
  .toggle-switch {
    right: 15px;
    top: 15px;
  }
}

label {
  position: absolute;
  width: 100%;
  height: 25px;
  background-color: var(--switch-dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--switch-light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  box-shadow: inset 7px -3px 0px 0px var(--switch-light);
  background-color: var(--switch-dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(25px);
  background-color: var(--switch-dark);
  box-shadow: none;
}

.info-mark {
  font-size: 0.7em;
  vertical-align: top;
  /* text-decoration: underline; */
  font-weight: 300;
  margin-left: 2px;
}

.hover-tip:hover > .boost-info {
  opacity: 1;
}
.hover-tip:not(:hover) > .boost-info {
  opacity: 0;
}




.palette-1 {
  --color-text: #000;
  --color-background: #fff;
}

.palette-2 {
  --color-text: #7d0a0a;
  --color-y-prisma: #bf3131;
  --color-cvx-prisma: #e7bb54;
  --color-background: #f3edc8;
}

.palette-3 {
  --color-text: #756ab6;
  --color-y-prisma: #ac87c5;
  --color-cvx-prisma: #dd98c7;
  --color-background: #ffe5e5;
}

.palette-4 {
  --color-text: #0f1035;
  --color-y-prisma: #365486;
  --color-cvx-prisma: #62c3db;
  --color-background: #dcf2f1;
}

.palette-5 {
  --color-text: #1b4242;
  --color-y-prisma: #1b4242;
  --color-cvx-prisma: #5c8374;
  --color-background: #9ec8b9;
}

.palette-6 {
  --color-text: #33186b;
  --color-y-prisma: #7360df;
  --color-cvx-prisma: #a564eb;
  --color-background: #f2afef;
}

.palette-7 {
  --color-text: #3e2723;
  --color-y-prisma: #795548;
  --color-cvx-prisma: #a1887f;
  --color-background: #d7ccc8;
}

.palette-8 {
  --color-text: #004d40;
  --color-y-prisma: #00796b;
  --color-cvx-prisma: #48a999;
  --color-background: #b2dfdb;
}

.palette-9 {
  --color-text: #bf360c;
  --color-y-prisma: #e64a19;
  --color-cvx-prisma: #ff7043;
  --color-background: #ffccbc;
}

.palette-10 {
  --color-text: #1a237e;
  --color-y-prisma: #303f9f;
  --color-cvx-prisma: #5c6bc0;
  --color-background: #c5cae9;
}

.palette-11 {
  --color-text: #004d40;
  --color-y-prisma: #00695c;
  --color-cvx-prisma: #26a69a;
  --color-background: #b2dfdb;
}

.palette-12 {
  --color-text: #0d47a1;
  --color-y-prisma: #1976d2;
  --color-cvx-prisma: #64b5f6;
  --color-background: #bbdefb;
}

.palette-13 {
  --color-text: #1b5e20;
  --color-y-prisma: #388e3c;
  --color-cvx-prisma: #66bb6a;
  --color-background: #c8e6c9;
}

.palette-14 {
  --color-text: #e65100;
  --color-y-prisma: #f57c00;
  --color-cvx-prisma: #ffb74d;
  --color-background: #ffe0b2;
}

.palette-15 {
  --color-text: #311b92;
  --color-y-prisma: #512da8;
  --color-cvx-prisma: #9575cd;
  --color-background: #d1c4e9;
}

.palette-16 {
  --color-text: #880e4f;
  --color-y-prisma: #c2185b;
  --color-cvx-prisma: #ec407a;
  --color-background: #f8bbd0;
}

.palette-17 {
  --color-text: #004d40;
  --color-y-prisma: #00796b;
  --color-cvx-prisma: #4db6ac;
  --color-background: #b2dfdb;
}

.palette-18 {
  --color-text: #263238;
  --color-y-prisma: #37474f;
  --color-cvx-prisma: #90a4ae;
  --color-background: #cfd8dc;
}

.palette-19 {
  --color-text: #b71c1c;
  --color-y-prisma: #d32f2f;
  --color-cvx-prisma: #ef5350;
  --color-background: #ffcdd2;
}

.palette-20 {
  --color-text: #01579b;
  --color-y-prisma: #0288d1;
  --color-cvx-prisma: #4fc3f7;
  --color-background: #b3e5fc;
}