@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Zen+Tokyo+Zoo&family=Red+Hat+Display:wght@300;400;600;900&display=swap");

:root {
  --color-text: #000;
  --color-y-prisma: #545454;
  --color-cvx-prisma: #a9a9a9;
  --color-background: #fff;
  --animation-speed: 4s; /* Animation speed variable */
}

* {
  box-sizing: border-box;
}

/* .recharts-line:nth-last-child(2) {
  filter: drop-shadow(0 0 4px var(--color-y-prisma));
}

.recharts-line:nth-last-child(1) {
  filter: drop-shadow(0 0 4px var(--color-cvx-prisma));
} */

@keyframes rainbowShift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(-360deg);
  }
}

.neon-text span span {
  display: inline-block;
  /* animation: rainbowShift var(--animation-speed) linear infinite; */
}

html,
body {
  padding: 0;
  margin: 0;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  color: var(--color-text);
  /* font-family: "Roboto", sans-serif; */
  font-family: "Red Hat Display", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  /* background-image: linear-gradient(
    0deg,
    var(--color-background2),
    var(--color-background2) 50%,
    var(--color-background) 50%,
    var(--color-background)
  );
  background-size: 5px 5px; */
}

.title-container {
  padding: 20px;
  text-align: center;
}

.neon-text {
  font-size: 4em;
  /* font-weight: bold; */
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 900;
  /* font-family: "Tilt Prism"; */
  /* font-family: "Rubik Doodle Shadow", system-ui; */
  /* font-family: "Zen Tokyo Zoo", system-ui; */
}

@media only screen and (max-width: 650px) {
  .neon-text {
    font-size: 3em;
  }
}

@media only screen and (max-width: 380px) {
  .neon-text {
    font-size: 2.5em;
  }
}

.section-title {
  text-align: center;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 2em;
}

.chart-container {
  width: 90%;
  /* background-color: #ffffff05; */
  border-radius: 5px;
  margin-bottom: 40px;
  /* margin-bottom: 20px; */
}

.chart-title {
  text-align: center;
  font-size: 2em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 5px;
  margin-top: 10px;
  /* text-shadow: 0 0 20px #fff; */
  /* font-family: "Zen Tokyo Zoo", system-ui; */
}

@media only screen and (max-width: 500px) {
  .chart-title {
    font-size: 1.4em;
  }
}

.chart-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.recharts-cartesian-axis-tick-value {
  fill: var(--color-text);
}

.table-container {
  /* padding: 20px; */
  /* background-color: #ffffff05; */
  border-radius: 5px;
  width: 90%;
  margin-bottom: 40px;
  min-width: 400px;
}

table {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  border-collapse: collapse;
}

@media only screen and (max-width: 750px) {
  table {
    font-size: 1em;
  }
}

table,
th,
td {
  border: none;
}

thead tr th {
  text-align: center;
  font-size: 2em;
  padding: 10px 10px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  thead tr th {
    font-size: 1.5em;
  }
}

tbody tr td:last-child {
  /* border-left: solid 2px #ffffff10; */
}

tbody tr td {
  padding: 14px 0;
  text-align: left;
}

tbody tr td:first-child {
  text-align: right;
  padding-right: 20px;
  /* font-weight: 300; */
  font-weight: 600;
}

tbody tr:first-child td:not(:first-child) {
  border-top: dashed 1px var(--color-text);
}
tbody tr td:not(:first-child) {
  text-align: center;
  border-bottom: dashed 1px var(--color-text);
}

.palette-1 {
  --color-text: #000;
  --color-y-prisma: #414141;
  --color-cvx-prisma: #8a8a8a;
  --color-background: #fff;
}

.palette-2 {
  --color-text: #7d0a0a;
  --color-y-prisma: #bf3131;
  --color-cvx-prisma: #e7bb54;
  --color-background: #f3edc8;
}

.palette-3 {
  --color-text: #756ab6;
  --color-y-prisma: #ac87c5;
  --color-cvx-prisma: #dd98c7;
  --color-background: #ffe5e5;
}

.palette-4 {
  --color-text: #0f1035;
  --color-y-prisma: #365486;
  --color-cvx-prisma: #62c3db;
  --color-background: #dcf2f1;
}

.palette-5 {
  --color-text: #1b4242;
  --color-y-prisma: #1b4242;
  --color-cvx-prisma: #5c8374;
  --color-background: #9ec8b9;
}

.palette-6 {
  --color-text: #33186b;
  --color-y-prisma: #7360df;
  --color-cvx-prisma: #a564eb;
  --color-background: #f2afef;
}
